# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/
out/
.idea/
.DS_Store

# Temporary file directory
tmp/nanoc/

# Crash Log
crash.log

.vscode/settings.json
LobbyService-master/target
.DS_Store